In [1]:
import numpy as np
import pandas as pd

### Les tables concernant l'âge et le sexe

**Output** : pop_age_sexe_2016.csv

**Input** :
Table générée à partir de pop-1janvier-fe.xls (https://www.insee.fr/fr/statistiques/1892086) 

- Source : Insee, estimations de population (résultats provisoires arrêtés à fin 2015).
- Champ : France y compris Mayotte.

*Warning* : âge = 100 correspond à 100 et plus

In [2]:
pd.read_csv("data/demographie/pop_age_sexe_2016.csv").head()

   age   femme   homme   total
0    0  374179  391371  765550
1    1  385442  403204  788646
2    2  386831  405502  792333
3    3  391853  412383  804236
4    4  399632  416626  816258

### Les tables concernant le statut d'actif.ve

**Output**: activite_2015.csv

**Input** : Table générée à partir de activite.xls, https://www.insee.fr/fr/statistiques/2045153?sommaire=2045174


- Champ : France métropolitaine, population des ménages, actifs de 15 ans ou plus.
- Source : Insee, enquête Emploi.
- 2015

In [4]:
pd.read_csv("data/demographie/activite_2015.csv")

       classe_age  femme  homme  total
0        0-14 ans      0      0      0
1       15-24 ans   1228   1475   2703
2       25-49 ans   8563   9274  17837
3       50-64 ans   3879   4003   7882
4  65 ans ou plus    126    179    305

### Les tables concernant le statut d'actif.ve occupée

Taux de chômage trimestriel au sens du BIT en France (hors Mayotte)

**Output ** : chomage.csv

**Input **: Tableau généré à partir de sl_chomage.xls, https://www.insee.fr/fr/statistiques/2045144?sommaire=2045174


- Données CVS en moyenne trimestrielle, en %
- Champ : France (hors Mayotte), population des ménages, personnes de 15 ans ou plus
- Source : Insee, enquête Emploi, 2016(T1)

In [5]:
pd.read_csv("data/travail/chomage.csv")

  classe_age_chomage  femme  homme
0              15-24   23.4   25.8
1              25-49    9.5    9.7
2                >49    6.4    6.9

### Tables concernant les pensions de retraite

**Output** : retraite_2012.csv

**Input** : Table générée à partir de NATCCF04564.xls.

- INSEE 2012
Montant moyen mensuel de la retraite globale
- Champ : retraités de droit direct, âgés de 65 ans ou plus,
   nés en France ou à l'étranger, résidents en France ou à l'étranger.
   Les retraités ne percevant qu'une pension de réversion sont exclus.
- Source : Drees, échantillon interrégimes de retraités 2012.

In [6]:
pd.read_csv("data/travail/retraite_2012.csv")

  classe_age_retraite  femme  homme
0         65 à 69 ans   1259   1797
1         70 à 74 ans   1212   1713
2         75 à 79 ans   1173   1626
3         80 à 84 ans   1225   1623
4      85 ans et plus   1330   1687

In [7]:
pd.read_csv("data/demographie/etudes.csv")

       age  proba_etudes
0   15 ans          97.8
1   16 ans          94.2
2   17 ans          90.3
3   18 ans          77.4
4   19 ans          64.1
5   20 ans          53.3
6   21 ans          43.0
7   22 ans          35.8
8   23 ans          26.3
9   24 ans          17.4
10  25 ans          11.1