# Simulation Population

Implémentons avec les sommmes aggrégées de [2014](http://www2.impots.gouv.fr/documentation/statistiques/2042_nat/2015/revenus_2014_6e_ano.pdf)

In [1]:
import random
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/home/edarin/.virtualenvs/openfisca/local/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['random']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

### Génération Table Population

In [2]:
openfisca_entry_variables = ['age','sexe','activite','1AJ', '1AS', '1AP', '1AO'] # à compléter au fur et à mesure
sample_size = 10000
index = np.arange(sample_size)
population = pd.DataFrame(columns = openfisca_entry_variables, index = index)

population.shape

(10000, 7)

### Sexe et Age

Issu de données INSEE 2016

À noter : âge = 100 correspond à 100 et plus

In [3]:
#path à revoir
reference_sexe = pd.read_csv("data/demographie/pop_age_sexe_2016.csv")
reference_sexe.rename(columns={'age_revolu': 'age'}, inplace=True)

assert all([dtype == np.int64 for dtype in reference_sexe.dtypes])

# assert all([col == population.columns for col in reference_sexe.columns]) peut-être un jour

print(reference_sexe.head())
effectif_population = sum(reference_sexe["total"])
print "Effectif de la population l'année concernée : ", effectif_population

   age   homme   femme   total
0    0  391371  374179  765550
1    1  403204  385442  788646
2    2  405502  386831  792333
3    3  412383  391853  804236
4    4  416626  399632  816258
Effectif de la population l'année concernée :  66627602

In [4]:
nbr_femme = int(sum(reference_sexe['femme']/effectif_population)*sample_size)
nbr_homme = sample_size - nbr_femme
print "Nombre nécessaire de femmes dans notre échantillon : ", nbr_femme
print "Nombre nécessaire d'hommes dans notre échantillon : ", nbr_homme

#Calcul de la proportion de femmes et d'hommes par âge
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_sexe["proba_{0}".format(variable)] = reference_sexe[variable]/sum(reference_sexe[variable])

assert sum(reference_sexe.proba_femme) == 1, "Nous voulons une probabilité"
assert sum(reference_sexe.proba_homme) == 1, "Nous voulons une probabilité"

reference_sexe.head()

Nombre nécessaire de femmes dans notre échantillon :  5153
Nombre nécessaire d'hommes dans notre échantillon :  4847

   age   homme   femme   total  proba_femme  proba_homme
0    0  391371  374179  765550     0.010897     0.012120
1    1  403204  385442  788646     0.011225     0.012486
2    2  405502  386831  792333     0.011266     0.012558
3    3  412383  391853  804236     0.011412     0.012771
4    4  416626  399632  816258     0.011639     0.012902

In [5]:

population.loc[:nbr_femme].shape
population.head()

   age sexe activite  1AJ  1AS  1AP  1AO
0  NaN  NaN      NaN  NaN  NaN  NaN  NaN
1  NaN  NaN      NaN  NaN  NaN  NaN  NaN
2  NaN  NaN      NaN  NaN  NaN  NaN  NaN
3  NaN  NaN      NaN  NaN  NaN  NaN  NaN
4  NaN  NaN      NaN  NaN  NaN  NaN  NaN

In [6]:
# Génération sexe
population.loc[:nbr_femme-1, "sexe"] = np.zeros(nbr_femme,dtype=int)
population.loc[nbr_femme:, "sexe"] = np.ones(nbr_homme, dtype=int)

#Génération de l'âge
ages = reference_sexe['age'].nunique()
population.loc[population['sexe'] == 0, "age"] = np.random.choice(ages, nbr_femme, p=reference_sexe.proba_femme)
population.loc[population['sexe'] == 1, "age"] = np.random.choice(ages, nbr_homme, p=reference_sexe.proba_homme)
population

     age sexe activite  1AJ  1AS  1AP  1AO
0     27    0      NaN  NaN  NaN  NaN  NaN
1     43    0      NaN  NaN  NaN  NaN  NaN
2     22    0      NaN  NaN  NaN  NaN  NaN
3     51    0      NaN  NaN  NaN  NaN  NaN
4     61    0      NaN  NaN  NaN  NaN  NaN
5     38    0      NaN  NaN  NaN  NaN  NaN
6     12    0      NaN  NaN  NaN  NaN  NaN
7     38    0      NaN  NaN  NaN  NaN  NaN
8      4    0      NaN  NaN  NaN  NaN  NaN
9     77    0      NaN  NaN  NaN  NaN  NaN
10     1    0      NaN  NaN  NaN  NaN  NaN
11    57    0      NaN  NaN  NaN  NaN  NaN
12    71    0      NaN  NaN  NaN  NaN  NaN
13    19    0      NaN  NaN  NaN  NaN  NaN
14     4    0      NaN  NaN  NaN  NaN  NaN
15     6    0      NaN  NaN  NaN  NaN  NaN
16    59    0      NaN  NaN  NaN  NaN  NaN
17    34    0      NaN  NaN  NaN  NaN  NaN
18    57    0      NaN  NaN  NaN  NaN  NaN
19    52    0      NaN  NaN  NaN  NaN  NaN
20    13    0      NaN  NaN  NaN  NaN  NaN
21    72    0      NaN  NaN  NaN  NaN  NaN
22    21    0      NaN  NaN  NaN  NaN  NaN
23    10    0      NaN  NaN  NaN  NaN  NaN
24    67    0      NaN  NaN  NaN  NaN  NaN
25    68    0      NaN  NaN  NaN  NaN  NaN
26    15    0      NaN  NaN  NaN  NaN  NaN
27    45    0      NaN  NaN  NaN  NaN  NaN
28     2    0      NaN  NaN  NaN  NaN  NaN
29    31    0      NaN  NaN  NaN  NaN  NaN
...   ..  ...      ...  ...  ...  ...  ...
9970  39    1      NaN  NaN  NaN  NaN  NaN
9971  64    1      NaN  NaN  NaN  NaN  NaN
9972   1    1      NaN  NaN  NaN  NaN  NaN
9973  49    1      NaN  NaN  NaN  NaN  NaN
9974  18    1      NaN  NaN  NaN  NaN  NaN
9975  59    1      NaN  NaN  NaN  NaN  NaN
9976  25    1      NaN  NaN  NaN  NaN  NaN
9977  48    1      NaN  NaN  NaN  NaN  NaN
9978  33    1      NaN  NaN  NaN  NaN  NaN
9979  23    1      NaN  NaN  NaN  NaN  NaN
9980   6    1      NaN  NaN  NaN  NaN  NaN
9981  68    1      NaN  NaN  NaN  NaN  NaN
9982  28    1      NaN  NaN  NaN  NaN  NaN
9983   5    1      NaN  NaN  NaN  NaN  NaN
9984  37    1      NaN  NaN  NaN  NaN  NaN
9985   3    1      NaN  NaN  NaN  NaN  NaN
9986  52    1      NaN  NaN  NaN  NaN  NaN
9987  80    1      NaN  NaN  NaN  NaN  NaN
9988   3    1      NaN  NaN  NaN  NaN  NaN
9989   8    1      NaN  NaN  NaN  NaN  NaN
9990  54    1      NaN  NaN  NaN  NaN  NaN
9991  35    1      NaN  NaN  NaN  NaN  NaN
9992  42    1      NaN  NaN  NaN  NaN  NaN
9993   9    1      NaN  NaN  NaN  NaN  NaN
9994  28    1      NaN  NaN  NaN  NaN  NaN
9995  19    1      NaN  NaN  NaN  NaN  NaN
9996  40    1      NaN  NaN  NaN  NaN  NaN
9997  58    1      NaN  NaN  NaN  NaN  NaN
9998  47    1      NaN  NaN  NaN  NaN  NaN
9999  62    1      NaN  NaN  NaN  NaN  NaN

[10000 rows x 7 columns]

In [7]:
# Génération sexe
population.loc[:nbr_femme-1, "sexe"] = np.zeros(nbr_femme,dtype=int)
population.loc[nbr_femme:, "sexe"] = np.ones(nbr_homme, dtype=int)

#Génération de l'âge
def simul(table_de_reference, name):
    ages = table_de_reference[name].nunique()
    population.loc[population['sexe'] == 0, name] = np.random.choice(ages, nbr_femme, p=table_de_reference.proba_femme)
    population.loc[population['sexe'] == 1, name] = np.random.choice(ages, nbr_homme, p=table_de_reference.proba_homme)


simul(reference_sexe, 'age')

In [8]:
#test de la probabilité TODO
proportion_finale_femme = population[population['sexe'] == 0].age.value_counts(sort=False, normalize=True)

proportion_finale_femme = pd.DataFrame(proportion_finale_femme)
proportion_finale_femme.columns = ['proportion_finale_femme']
pour_comparaison = reference_sexe.merge(proportion_finale_femme, left_on='age', right_index=True)
pour_comparaison[['proportion_finale_femme', 'proba_femme','age']]

var_ref = 'proba_femme'
var_simul = 'proportion_finale_femme'
ratio = pour_comparaison[var_simul]/pour_comparaison[var_ref]
ratio.describe()

count    101.000000
mean       1.013686
std        0.214804
min        0.488373
25%        0.915219
50%        1.009892
75%        1.095878
max        2.109772
dtype: float64

### Activité

In [76]:
reference_activite = pd.read_csv("data/demographie/activite.csv")
reference_activite.dtypes

reference_activite[['homme','femme','total']] *= 1000
effectif_population_active = sum(reference_activite['total'])
print "Effectif de la population active", effectif_population_active
reference_activite

Effectif de la population active 28727000

        pop_active    femme    homme     total
0       15-24 ans   1228000  1475000   2703000
1       25-49 ans   8563000  9274000  17837000
2       50-64 ans   3879000  4003000   7882000
3  65 ans ou plus    126000   179000    305000

In [77]:
reference_activite=pd.melt(reference_activite, id_vars=['pop_active'], value_vars=['femme', 'homme'], var_name = 'sexe', value_name='activite')
#reference_activite['variable'] = reference_activite[['pop_active', 'sexe']].apply(lambda x: ''.join(x), axis=1)
#est-ce nécssaire de joindre les deux colonnes ? -> je pense pas

assert (sum(reference_activite.activite[:8])) == effectif_population_active, "Vérifier que la somme est bien égale à l'effectif de la population active"
reference_activite

        pop_active   sexe  activite
0       15-24 ans   femme   1228000
1       25-49 ans   femme   8563000
2       50-64 ans   femme   3879000
3  65 ans ou plus   femme    126000
4       15-24 ans   homme   1475000
5       25-49 ans   homme   9274000
6       50-64 ans   homme   4003000
7  65 ans ou plus   homme    179000

In [107]:
#pour les femmes, force brute
reference_activite.loc[0, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 15) & (reference_sexe['age'] < 24)].femme)
reference_activite.loc[1, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 24) & (reference_sexe['age'] < 49)].femme)
reference_activite.loc[2, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 50) & (reference_sexe['age'] < 64)].femme)
reference_activite.loc[3, 'pop_totale'] = sum(reference_sexe[reference_sexe['age'] > 65].femme)
#pour les hommes, force brute
reference_activite.loc[4, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 15) & (reference_sexe['age'] < 24)].homme)
reference_activite.loc[5, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 24) & (reference_sexe['age'] < 49)].homme)
reference_activite.loc[6, 'pop_totale'] = sum(reference_sexe[(reference_sexe['age'] > 50) & (reference_sexe['age'] < 64)].homme)
reference_activite.loc[7, 'pop_totale'] = sum(reference_sexe[reference_sexe['age'] > 65].homme)

reference_activite["proportion_echantillon"] = (reference_activite["pop_totale"]/ effectif_population)*sample_size
reference_activite["proba_activite"] = reference_activite["activite"] / reference_activite["pop_totale"]
reference_activite["proba_inactivite"] = 1 - reference_activite["proba_activite"]

reference_activite['proportion_echantillon'] = reference_activite['proportion_echantillon'].round()

reference_activite

,pop_active,sexe,activite,pop_totale,proportion_echantillon,proba_activite,proba_inactivite
0,15-24 ans,femme,1228000,3047822.0,457.0,0.402911,0.597089
1,25-49 ans,femme,8563000,10248351.0,1538.0,0.835549,0.164451
2,50-64 ans,femme,3879000,5714338.0,858.0,0.678819,0.321181
3,65 ans ou plus,femme,126000,6742292.0,1012.0,0.018688,0.981312
4,15-24 ans,homme,1475000,3163528.0,475.0,0.466252,0.533748
5,25-49 ans,homme,9274000,9992690.0,1500.0,0.928078,0.071922
6,50-64 ans,homme,4003000,5384952.0,808.0,0.743368,0.256632
7,65 ans ou plus,homme,179000,4959124.0,744.0,0.036095,0.963905

In [98]:
reference_activite[['proba_activite','proba_inactivite']].loc[0]

proba_activite      0.402911
proba_inactivite    0.597089
Name: 0, dtype: float64

In [106]:
population.loc[(population['sexe']==0) & (population['age'] >15) & (population['age'] < 24), 'activite'].shape

(469,)

In [105]:
#Génération population inactive jeune
population.loc[population['age'] < 15, "activite"] = 0
population[population.age < 15].activite 

#génération femme 15-24
indic_activite = np.arange(2)
population.loc[(population['sexe']==0) & (population['age'] >15) & (population['age'] < 24), 'activite'] = np.random.choice(indic_activite, reference_activite.loc[0, 'proportion_echantillon'], list(reference_activite[['proba_activite','proba_inactivite']].loc[0]))

/home/edarin/.virtualenvs/openfisca/lib/python2.7/site-packages/ipykernel/__main__.py:7: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

ValueError: shape mismatch: value array of shape (184,) could not be broadcast to indexing result of shape (469,)

In [ ]:
activite_somme = {name: sum(reference_activite[name]) for name in reference_activite.columns}
activite_somme

In [ ]:
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_activite["proba_{0}".format(variable)] = reference_activite[variable]/reference_activite['total']

assert sum(reference_activite.proba_femme+reference_activite.proba_homme) == 4, "Ce sont des probabilités"
# à préciser car forme proba pas explicite
reference_activite

In [ ]:
#Génération population inactive jeune
population.loc[population['age'] < 15, "activite"] = 0
population[population.age < 15].activite 
#Population inactive > 65
population.loc[(population['age']>15) & (population['age'] < 24) & (population['sexe'] == 0), 'activite'] =

In [68]:
nbr_population_active = int(sum(reference_activite["total"]/effectif_population)*sample_size)
nbr_population_active

7392

In [ ]:
nbr_population_active = int(sum(reference_activite["total"]/effectif_population)*sample_size)
print "Effectif populaction active dans notre échantillon ", nbr_population_active
nbr_population_inactive = sample_size - nbr_population_active
print "Effectif populaction inactive dans notre échantillon ", nbr_population_inactive

#Calcul de la proportion de femmes et d'hommes actifs par âge
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_activite["proba_{0}".format(variable)] = reference_activite[variable]/sum(reference_activite[variable])

assert sum(reference_activite.proba_femme) == 1, "Nous voulons une probabilité"
assert sum(reference_activite.proba_homme) == 1, "Nous voulons une probabilité"

reference_activite.head()

In [ ]:
reference_activite.T.head()

In [ ]:
population.loc[(population['sexe'] == 0) & (population['age'] > 65), 'activite']

In [ ]:
population.loc[(population['sexe'] == 0 &, name] = np.random.choice(ages, nbr_femme, p=table_de_reference.proba_femme)
population.loc[population['sexe'] == 1, name] = np.random.choice(ages, nbr_homme, p=table_de_reference.proba_homme)

In [ ]:
population.loc[(population['sexe'] == 0) & (population['age'] > 15), 'activite'] = np.random.choice(nb.arange(2), nbr_femme, p=table_de_reference.proba_femme)

In [ ]:
revenus = [21820704, 503723963299] # (nbr de déclarant en case 1aj, montant total de cette case) -> 2014
revenus_moy = revenus[1] / float(revenus[0])
pourcent= REVENUS[0] / float(nbr_foyer)

In [ ]:
def generate_random_cerfa():
    cerfa = {}

    if random.random() < PERCENT_REVENUS_NOT_0 * 1.3:
        cerfa['1AJ'] = max(random.gauss(14000, 23500), 0)
    else:
        cerfa['1AJ'] = 0
    return cerfa

def gradiant(a, b):
    if a > b:
        return min((a / b - 1) * random.random(), 0.5)
    else:
        return min((b / a - 1) * random.random(), 0.5)


def find_gaussian_parameters(number_not_0, total_value, distribution_percentage_null=5):
    def simulate_population(th, mu, sigma, percentage_repr):
        total_result = 0
        number_not_null = 0
        for i in range(0, int(TOTAL_DECLARATIONS * percentage_repr)):
            result = simulate_one_gaussian(th, mu, sigma)
            total_result += result
            if result > 0:
                number_not_null += 1
        return number_not_null / percentage_repr, total_result / percentage_repr

    def simulate_one_gaussian(th, mu, sigma):
        if random.random() < th:
            return max(random.gauss(mu, sigma), 0)
        return 0

    # Between 0 and 1
    number_not_0 = float(number_not_0)
    total_value = float(total_value)

    percentage_repr = 0.001
    mu = total_value / number_not_0
    sigma = mu / 2
    mu_step = mu / 2
    sigma_step = sigma / 2
    th = (1 + distribution_percentage_null / 100.0) * number_not_0 / TOTAL_DECLARATIONS
    print repr(th)
    max_number_of_simulations = 100
    for i in range(0, max_number_of_simulations):
        sim_not_0, sim_tot_value = simulate_population(th, mu, sigma, percentage_repr)
        if sim_not_0 > number_not_0:
            mu -= mu_step * gradiant(number_not_0, sim_not_0)
            # sigma -= sigma_step * gradiant(number_not_0, sim_not_0)
        else:
            mu += mu_step * gradiant(sim_not_0, number_not_0)
            # sigma += sigma_step * gradiant(sim_not_0, number_not_0)

        if sim_tot_value > total_value:
            # mu -= mu_step * gradiant(total_value, sim_tot_value)
            sigma -= sigma_step * gradiant(total_value, sim_tot_value)
        else:
            # mu += mu_step * gradiant(sim_tot_value, total_value )
            sigma += sigma_step * gradiant(sim_tot_value, total_value)
        print 'Total target ' + str(sim_tot_value/total_value) + ' not 0 target: ' + str(sim_not_0/number_not_0) + ' mu=' +  repr(mu) + ' sigma=' + repr(sigma) + ' th=' + str(th)
        mu_step = mu_step * 0.995
        sigma_step = sigma_step * 0.995
        percentage_repr = percentage_repr * 1.01


find_gaussian_parameters(21820704, 503723963299, distribution_percentage_null=5)

### Gestion des situations familiales
Idée : obtenir le nombre moyen d'enfant = 1.7

In [ ]:
# Statistiques by familly, approximated to match the declaration d'impots
# Voir la distribution réelle mais bloquer par nbenf > 4 répartition en 3 plus calage car moyenne au-dessus de la réalité
CHILDREN_PER_FAMILY = [(1, 46), (2, 38.5), (3, 12.5), (4, 2), (5, 1)]
TOTAL_CHILDREN = float(sum(w*c for c, w in CHILDREN_PER_FAMILY))
print('TOTAL_CHILDREN = ', float(sum(w*c for c, w in CHILDREN_PER_FAMILY)))
# Familles avec enfants a charge de moins de 18 ans
FAMILLES = 9321480

In [ ]:
def weighted_choice(choices):
   total = sum(w for c, w in choices)
   r = random.uniform(0, total)
   upto = 0
   for c, w in choices:
      if upto + w >= r:
         return c
      upto += w
   assert False, "Shouldn't get here"


    # Age is random between 18 and 88
    cerfa['0DA'] = int(random.random() * 70 + 18)

    # Drawing the situation
    # situation = weighted_choice(POSSIBLE_SITUATIONS)
    # cerfa[situation] = 1

    ## We only give children to married or pacces. This is an approximation
    # enfants = 0
    # if situation == 'M' or situation == 'O':
    #     if random.random() < (FAMILLES / float(POSSIBLE_SITUATIONS[0][1] + POSSIBLE_SITUATIONS[2][1])):
    #         enfants = weighted_choice(CHILDREN_PER_FAMILY)
    #
    # if enfants > 0:
    #     cerfa['F'] = enfants

    # Distribution that has a cool shape and required properties 5500, 26500

In [ ]:
situations = [['M', 12002841], ['D', 5510809], ['O', 983754], ['C', 14934477], ['V', 3997578]]
nbr_foyer = int(sum(w for c, w in situations))
print"Nombre de déclarations :",nbr_foyer

#to do : pour l'instant références implémentées en dur

pourcent_situations = situations # connaitre la proportion pour distribuer
for x in pourcent_situations :
    x[1] = float(x[1])/nbr_foyer
pourcent_situations

openfisca_entry_variables = ['1AJ', '1AS', '1AP', '1AO'] # à compléter au fur et à mesure
index = np.arange(nbr_foyer/1000)
population = pd.DataFrame(columns=openfisca_entry_variables, index = index)
len(population)
population.head()