# Simulation Population

Implémentons avec les sommmes aggrégées de [2014](http://www2.impots.gouv.fr/documentation/statistiques/2042_nat/2015/revenus_2014_6e_ano.pdf)

In [74]:
import random
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

### Génération Table Population

In [75]:
openfisca_entry_variables = ['age','sexe','activite','1AJ', '1AS', '1AP', '1AO'] # à compléter au fur et à mesure
sample_size = 10000
index = np.arange(sample_size)
population = pd.DataFrame(columns = openfisca_entry_variables, index = index)

population.shape

(10000, 7)

### Sexe et Age

Issu de données INSEE 2016

À noter : âge = 100 correspond à 100 et plus

In [76]:
#path à revoir
reference_sexe = pd.read_csv("data/demographie/pop_age_sexe_2016.csv")
reference_sexe.rename(columns={'age_revolu': 'age'}, inplace=True)

assert all([dtype == np.int64 for dtype in reference_sexe.dtypes])

# assert all([col == population.columns for col in reference_sexe.columns]) peut-être un jour

print(reference_sexe.head())
effectif_population = sum(reference_sexe["total"])
print "Effectif de la population l'année concernée : ", effectif_population

   age   homme   femme   total
0    0  391371  374179  765550
1    1  403204  385442  788646
2    2  405502  386831  792333
3    3  412383  391853  804236
4    4  416626  399632  816258
Effectif de la population l'année concernée :  66627602

In [77]:
nbr_femme = int(sum(reference_sexe['femme']/effectif_population)*sample_size)
nbr_homme = sample_size - nbr_femme
print "Nombre nécessaire de femmes dans notre échantillon : ", nbr_femme
print "Nombre nécessaire d'hommes dans notre échantillon : ", nbr_homme

#Calcul de la proportion de femmes et d'hommes par âge
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_sexe["proba_{0}".format(variable)] = reference_sexe[variable]/sum(reference_sexe[variable])

assert sum(reference_sexe.proba_femme) == 1, "Nous voulons une probabilité"
assert sum(reference_sexe.proba_homme) == 1, "Nous voulons une probabilité"

reference_sexe.head()

Nombre nécessaire de femme dans notre échantillon :  5153
Nombre nécessaire d'homme dans notre échantillon :  4847

   age   homme   femme   total  proba_femme  proba_homme
0    0  391371  374179  765550     0.010897     0.012120
1    1  403204  385442  788646     0.011225     0.012486
2    2  405502  386831  792333     0.011266     0.012558
3    3  412383  391853  804236     0.011412     0.012771
4    4  416626  399632  816258     0.011639     0.012902

In [78]:

population.loc[:nbr_femme].shape
population.head()

   age sexe activite  1AJ  1AS  1AP  1AO
0  NaN  NaN      NaN  NaN  NaN  NaN  NaN
1  NaN  NaN      NaN  NaN  NaN  NaN  NaN
2  NaN  NaN      NaN  NaN  NaN  NaN  NaN
3  NaN  NaN      NaN  NaN  NaN  NaN  NaN
4  NaN  NaN      NaN  NaN  NaN  NaN  NaN

In [79]:
# Génération sexe
population.loc[:nbr_femme-1, "sexe"] = np.zeros(nbr_femme,dtype=int)
population.loc[nbr_femme:, "sexe"] = np.ones(nbr_homme, dtype=int)

#Génération de l'âge
ages = reference_sexe['age'].nunique()
population.loc[population['sexe'] == 0, "age"] = np.random.choice(ages, nbr_femme, p=reference_sexe.proba_femme)
population.loc[population['sexe'] == 1, "age"] = np.random.choice(ages, nbr_homme, p=reference_sexe.proba_homme)
population

     age sexe activite  1AJ  1AS  1AP  1AO
0      3    0      NaN  NaN  NaN  NaN  NaN
1     33    0      NaN  NaN  NaN  NaN  NaN
2     55    0      NaN  NaN  NaN  NaN  NaN
3     56    0      NaN  NaN  NaN  NaN  NaN
4     30    0      NaN  NaN  NaN  NaN  NaN
5      2    0      NaN  NaN  NaN  NaN  NaN
6     80    0      NaN  NaN  NaN  NaN  NaN
7     51    0      NaN  NaN  NaN  NaN  NaN
8     31    0      NaN  NaN  NaN  NaN  NaN
9      6    0      NaN  NaN  NaN  NaN  NaN
10     6    0      NaN  NaN  NaN  NaN  NaN
11    67    0      NaN  NaN  NaN  NaN  NaN
12     8    0      NaN  NaN  NaN  NaN  NaN
13    23    0      NaN  NaN  NaN  NaN  NaN
14    77    0      NaN  NaN  NaN  NaN  NaN
15    54    0      NaN  NaN  NaN  NaN  NaN
16    28    0      NaN  NaN  NaN  NaN  NaN
17    52    0      NaN  NaN  NaN  NaN  NaN
18    16    0      NaN  NaN  NaN  NaN  NaN
19     2    0      NaN  NaN  NaN  NaN  NaN
20     1    0      NaN  NaN  NaN  NaN  NaN
21    73    0      NaN  NaN  NaN  NaN  NaN
22    46    0      NaN  NaN  NaN  NaN  NaN
23    47    0      NaN  NaN  NaN  NaN  NaN
24    35    0      NaN  NaN  NaN  NaN  NaN
25     9    0      NaN  NaN  NaN  NaN  NaN
26    79    0      NaN  NaN  NaN  NaN  NaN
27     9    0      NaN  NaN  NaN  NaN  NaN
28    28    0      NaN  NaN  NaN  NaN  NaN
29    53    0      NaN  NaN  NaN  NaN  NaN
...   ..  ...      ...  ...  ...  ...  ...
9970   7    1      NaN  NaN  NaN  NaN  NaN
9971  36    1      NaN  NaN  NaN  NaN  NaN
9972  11    1      NaN  NaN  NaN  NaN  NaN
9973   9    1      NaN  NaN  NaN  NaN  NaN
9974   9    1      NaN  NaN  NaN  NaN  NaN
9975  54    1      NaN  NaN  NaN  NaN  NaN
9976  17    1      NaN  NaN  NaN  NaN  NaN
9977  18    1      NaN  NaN  NaN  NaN  NaN
9978  37    1      NaN  NaN  NaN  NaN  NaN
9979  17    1      NaN  NaN  NaN  NaN  NaN
9980  11    1      NaN  NaN  NaN  NaN  NaN
9981  19    1      NaN  NaN  NaN  NaN  NaN
9982   3    1      NaN  NaN  NaN  NaN  NaN
9983   6    1      NaN  NaN  NaN  NaN  NaN
9984  26    1      NaN  NaN  NaN  NaN  NaN
9985  36    1      NaN  NaN  NaN  NaN  NaN
9986  28    1      NaN  NaN  NaN  NaN  NaN
9987  47    1      NaN  NaN  NaN  NaN  NaN
9988  22    1      NaN  NaN  NaN  NaN  NaN
9989  66    1      NaN  NaN  NaN  NaN  NaN
9990  17    1      NaN  NaN  NaN  NaN  NaN
9991  37    1      NaN  NaN  NaN  NaN  NaN
9992  64    1      NaN  NaN  NaN  NaN  NaN
9993  22    1      NaN  NaN  NaN  NaN  NaN
9994   1    1      NaN  NaN  NaN  NaN  NaN
9995   6    1      NaN  NaN  NaN  NaN  NaN
9996  55    1      NaN  NaN  NaN  NaN  NaN
9997  15    1      NaN  NaN  NaN  NaN  NaN
9998  34    1      NaN  NaN  NaN  NaN  NaN
9999   3    1      NaN  NaN  NaN  NaN  NaN

[10000 rows x 7 columns]

In [80]:
# Génération sexe
population.loc[:nbr_femme-1, "sexe"] = np.zeros(nbr_femme,dtype=int)
population.loc[nbr_femme:, "sexe"] = np.ones(nbr_homme, dtype=int)

#Génération de l'âge
def simul(table_de_reference, name):
    ages = table_de_reference[name].nunique()
    population.loc[population['sexe'] == 0, name] = np.random.choice(ages, nbr_femme, p=table_de_reference.proba_femme)
    population.loc[population['sexe'] == 1, name] = np.random.choice(ages, nbr_homme, p=table_de_reference.proba_homme)


simul(reference_sexe, 'age')

In [81]:
#test de la probabilité TODO
proportion_finale_femme = population[population['sexe'] == 0].age.value_counts(sort=False, normalize=True)

proportion_finale_femme = pd.DataFrame(proportion_finale_femme)
proportion_finale_femme.columns = ['proportion_finale_femme']
pour_comparaison = reference_sexe.merge(proportion_finale_femme, left_on='age', right_index=True)
pour_comparaison[['proportion_finale_femme', 'proba_femme','age']]

var_ref = 'proba_femme'
var_simul = 'proportion_finale_femme'
ratio = pour_comparaison[var_simul]/pour_comparaison[var_ref]
ratio.describe()

count    101.000000
mean       1.012866
std        0.267047
min        0.113669
25%        0.903488
50%        1.008038
75%        1.099263
max        2.517802
dtype: float64

### Activité

In [166]:
reference_activite = pd.read_csv("data/demographie/activite.csv")
reference_activite.dtypes

#chiffre issu de INSEE -> comment ne pas le mettre en dur
reference_activite[['homme','femme','total']] *= 1000
effectif_population_active = sum(reference_activite['total'])
print "Effectif de la population active", effectif_population_active
reference_activite

Effectif de la population active 28727000

        pop_active    femme    homme     total
0       15-24 ans   1228000  1475000   2703000
1       25-49 ans   8563000  9274000  17837000
2       50-64 ans   3879000  4003000   7882000
3  65 ans ou plus    126000   179000    305000

In [169]:
a=pd.melt(reference_activite, id_vars=['pop_active'], value_vars=['femme', 'homme','total'], var_name = 'sexe',value_name='activite')
a['variable'] = a[['pop_active', 'sexe']].apply(lambda x: ''.join(x), axis=1)
print(sum(a.activite[:8]))
a[['variable', 'activite']]

28727000

                variable  activite
0        15-24 ans femme   1228000
1        25-49 ans femme   8563000
2        50-64 ans femme   3879000
3   65 ans ou plus femme    126000
4        15-24 ans homme   1475000
5        25-49 ans homme   9274000
6        50-64 ans homme   4003000
7   65 ans ou plus homme    179000
8        15-24 ans total   2703000
9        25-49 ans total  17837000
10       50-64 ans total   7882000
11  65 ans ou plus total    305000

In [170]:
reference_sexe.head()

   age   homme   femme   total  proba_femme  proba_homme
0    0  391371  374179  765550     0.010897     0.012120
1    1  403204  385442  788646     0.011225     0.012486
2    2  405502  386831  792333     0.011266     0.012558
3    3  412383  391853  804236     0.011412     0.012771
4    4  416626  399632  816258     0.011639     0.012902

In [157]:
a["non_activite"]=

         pop_active  variable  value
0        15-24 ans   variable  femme
1        25-49 ans   variable  femme
2        50-64 ans   variable  femme
3   65 ans ou plus   variable  femme
4        15-24 ans   variable  homme
5        25-49 ans   variable  homme
6        50-64 ans   variable  homme
7   65 ans ou plus   variable  homme
8        15-24 ans   variable  total
9        25-49 ans   variable  total
10       50-64 ans   variable  total
11  65 ans ou plus   variable  total

In [115]:
activite_somme = {name: sum(reference_activite[name]) for name in reference_activite.columns}
activite_somme

{'femme': 13796000, 'homme': 14931000, 'total': 28727000}

In [140]:
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_activite["proba_{0}".format(variable)] = reference_activite[variable]/reference_activite['total']

assert sum(reference_activite.proba_femme+reference_activite.proba_homme) == 4, "Ce sont des probabilités"
# à préciser car forme proba pas explicite
reference_activite

                   femme    homme     total  proba_femme  proba_homme
pop_active
   15-24 ans     1228000  1475000   2703000     0.454310     0.545690
   25-49 ans     8563000  9274000  17837000     0.480070     0.519930
   50-64 ans     3879000  4003000   7882000     0.492134     0.507866
65 ans ou plus    126000   179000    305000     0.413115     0.586885

In [ ]:
#Génération population inactive jeune
population.loc[population['age'] < 15, "activite"] = 0
population[population.age < 15].activite 
#Population inactive > 65
population.loc[(population['age']>15) & (population['age'] < 24) & (population['sexe'] == 0), 'activite'] =

In [119]:
nbr_population_active = int(sum(reference_activite["total"]/effectif_population)*sample_size)
print "Effectif populaction active dans notre échantillon ", nbr_population_active
nbr_population_inactive = sample_size - nbr_population_active
print "Effectif populaction inactive dans notre échantillon ", nbr_population_inactive

#Calcul de la proportion de femmes et d'hommes actifs par âge
liste_variable = ["femme", "homme"]
for variable in liste_variable:
    reference_activite["proba_{0}".format(variable)] = reference_activite[variable]/sum(reference_activite[variable])

assert sum(reference_activite.proba_femme) == 1, "Nous voulons une probabilité"
assert sum(reference_activite.proba_homme) == 1, "Nous voulons une probabilité"

reference_activite.head()

Effectif populaction active dans notre échantillon  4311
Effectif populaction inactive dans notre échantillon  5689

                   femme    homme     total  proba_femme  proba_homme
pop_active
   15-24 ans     1228000  1475000   2703000     0.089011     0.098788
   25-49 ans     8563000  9274000  17837000     0.620687     0.621124
   50-64 ans     3879000  4003000   7882000     0.281168     0.268100
65 ans ou plus    126000   179000    305000     0.009133     0.011988

In [120]:
reference_activite.T.head()

pop_active      15-24 ans      25-49 ans      50-64 ans   65 ans ou plus
femme         1.228000e+06   8.563000e+06   3.879000e+06    126000.000000
homme         1.475000e+06   9.274000e+06   4.003000e+06    179000.000000
total         2.703000e+06   1.783700e+07   7.882000e+06    305000.000000
proba_femme   8.901131e-02   6.206872e-01   2.811685e-01         0.009133
proba_homme   9.878776e-02   6.211238e-01   2.680999e-01         0.011988

29      0
48      0
55      0
58      0
59      0
60      0
76      0
78      0
82      0
84      0
85      0
101     0
102     0
103     0
105     0
109     0
123     0
129     0
131     0
141     0
145     0
147     0
154     0
161     0
162     0
167     0
173     0
174     0
177     0
180     0
       ..
9878    0
9879    0
9883    0
9884    0
9888    0
9889    0
9893    0
9901    0
9904    0
9911    0
9915    0
9916    0
9917    0
9920    0
9929    0
9930    0
9935    0
9950    0
9953    0
9957    0
9959    0
9964    0
9967    0
9977    0
9980    0
9981    0
9983    0
9989    0
9993    0
9995    0
Name: activite, dtype: object

In [112]:
population.loc[(population['sexe'] == 0) & (population['age'] > 65), 'activite']

array([0, 1])

In [137]:
population.loc[(population['sexe'] == 0 &, name] = np.random.choice(ages, nbr_femme, p=table_de_reference.proba_femme)
population.loc[population['sexe'] == 1, name] = np.random.choice(ages, nbr_homme, p=table_de_reference.proba_homme)

0

In [111]:
population.loc[(population['sexe'] == 0) & (population['age'] > 15), 'activite'] = np.random.choice(nb.arange(2), nbr_femme, p=table_de_reference.proba_femme)

     age sexe activite  1AJ  1AS  1AP  1AO
0     35    0      NaN  NaN  NaN  NaN  NaN
1     21    0      NaN  NaN  NaN  NaN  NaN
2     63    0      NaN  NaN  NaN  NaN  NaN
3     18    0      NaN  NaN  NaN  NaN  NaN
4     38    0      NaN  NaN  NaN  NaN  NaN
5     57    0      NaN  NaN  NaN  NaN  NaN
6     45    0      NaN  NaN  NaN  NaN  NaN
7     57    0      NaN  NaN  NaN  NaN  NaN
8     55    0      NaN  NaN  NaN  NaN  NaN
9     16    0      NaN  NaN  NaN  NaN  NaN
10    56    0      NaN  NaN  NaN  NaN  NaN
11    47    0      NaN  NaN  NaN  NaN  NaN
12    73    0      NaN  NaN  NaN  NaN  NaN
13    72    0      NaN  NaN  NaN  NaN  NaN
14    49    0      NaN  NaN  NaN  NaN  NaN
15    17    0      NaN  NaN  NaN  NaN  NaN
16    48    0      NaN  NaN  NaN  NaN  NaN
18    18    0      NaN  NaN  NaN  NaN  NaN
19    28    0      NaN  NaN  NaN  NaN  NaN
20    82    0      NaN  NaN  NaN  NaN  NaN
21    69    0      NaN  NaN  NaN  NaN  NaN
22    38    0      NaN  NaN  NaN  NaN  NaN
23    82    0      NaN  NaN  NaN  NaN  NaN
24    23    0      NaN  NaN  NaN  NaN  NaN
25    27    0      NaN  NaN  NaN  NaN  NaN
26    36    0      NaN  NaN  NaN  NaN  NaN
27    23    0      NaN  NaN  NaN  NaN  NaN
28    37    0      NaN  NaN  NaN  NaN  NaN
30    24    0      NaN  NaN  NaN  NaN  NaN
31    65    0      NaN  NaN  NaN  NaN  NaN
...   ..  ...      ...  ...  ...  ...  ...
5117  17    0      NaN  NaN  NaN  NaN  NaN
5118  36    0      NaN  NaN  NaN  NaN  NaN
5120  32    0      NaN  NaN  NaN  NaN  NaN
5121  64    0      NaN  NaN  NaN  NaN  NaN
5122  66    0      NaN  NaN  NaN  NaN  NaN
5123  48    0      NaN  NaN  NaN  NaN  NaN
5125  60    0      NaN  NaN  NaN  NaN  NaN
5126  47    0      NaN  NaN  NaN  NaN  NaN
5127  60    0      NaN  NaN  NaN  NaN  NaN
5130  53    0      NaN  NaN  NaN  NaN  NaN
5131  64    0      NaN  NaN  NaN  NaN  NaN
5132  39    0      NaN  NaN  NaN  NaN  NaN
5133  29    0      NaN  NaN  NaN  NaN  NaN
5134  25    0      NaN  NaN  NaN  NaN  NaN
5136  39    0      NaN  NaN  NaN  NaN  NaN
5137  38    0      NaN  NaN  NaN  NaN  NaN
5138  55    0      NaN  NaN  NaN  NaN  NaN
5139  83    0      NaN  NaN  NaN  NaN  NaN
5140  47    0      NaN  NaN  NaN  NaN  NaN
5141  34    0      NaN  NaN  NaN  NaN  NaN
5142  20    0      NaN  NaN  NaN  NaN  NaN
5143  62    0      NaN  NaN  NaN  NaN  NaN
5144  64    0      NaN  NaN  NaN  NaN  NaN
5145  46    0      NaN  NaN  NaN  NaN  NaN
5146  25    0      NaN  NaN  NaN  NaN  NaN
5148  62    0      NaN  NaN  NaN  NaN  NaN
5149  18    0      NaN  NaN  NaN  NaN  NaN
5150  61    0      NaN  NaN  NaN  NaN  NaN
5151  19    0      NaN  NaN  NaN  NaN  NaN
5152  33    0      NaN  NaN  NaN  NaN  NaN

[4190 rows x 7 columns]

In [ ]:
revenus = [21820704, 503723963299] # (nbr de déclarant en case 1aj, montant total de cette case) -> 2014
revenus_moy = revenus[1] / float(revenus[0])
pourcent= REVENUS[0] / float(nbr_foyer)

In [7]:
def generate_random_cerfa():
    cerfa = {}

    if random.random() < PERCENT_REVENUS_NOT_0 * 1.3:
        cerfa['1AJ'] = max(random.gauss(14000, 23500), 0)
    else:
        cerfa['1AJ'] = 0
    return cerfa

def gradiant(a, b):
    if a > b:
        return min((a / b - 1) * random.random(), 0.5)
    else:
        return min((b / a - 1) * random.random(), 0.5)


def find_gaussian_parameters(number_not_0, total_value, distribution_percentage_null=5):
    def simulate_population(th, mu, sigma, percentage_repr):
        total_result = 0
        number_not_null = 0
        for i in range(0, int(TOTAL_DECLARATIONS * percentage_repr)):
            result = simulate_one_gaussian(th, mu, sigma)
            total_result += result
            if result > 0:
                number_not_null += 1
        return number_not_null / percentage_repr, total_result / percentage_repr

    def simulate_one_gaussian(th, mu, sigma):
        if random.random() < th:
            return max(random.gauss(mu, sigma), 0)
        return 0

    # Between 0 and 1
    number_not_0 = float(number_not_0)
    total_value = float(total_value)

    percentage_repr = 0.001
    mu = total_value / number_not_0
    sigma = mu / 2
    mu_step = mu / 2
    sigma_step = sigma / 2
    th = (1 + distribution_percentage_null / 100.0) * number_not_0 / TOTAL_DECLARATIONS
    print repr(th)
    max_number_of_simulations = 100
    for i in range(0, max_number_of_simulations):
        sim_not_0, sim_tot_value = simulate_population(th, mu, sigma, percentage_repr)
        if sim_not_0 > number_not_0:
            mu -= mu_step * gradiant(number_not_0, sim_not_0)
            # sigma -= sigma_step * gradiant(number_not_0, sim_not_0)
        else:
            mu += mu_step * gradiant(sim_not_0, number_not_0)
            # sigma += sigma_step * gradiant(sim_not_0, number_not_0)

        if sim_tot_value > total_value:
            # mu -= mu_step * gradiant(total_value, sim_tot_value)
            sigma -= sigma_step * gradiant(total_value, sim_tot_value)
        else:
            # mu += mu_step * gradiant(sim_tot_value, total_value )
            sigma += sigma_step * gradiant(sim_tot_value, total_value)
        print 'Total target ' + str(sim_tot_value/total_value) + ' not 0 target: ' + str(sim_not_0/number_not_0) + ' mu=' +  repr(mu) + ' sigma=' + repr(sigma) + ' th=' + str(th)
        mu_step = mu_step * 0.995
        sigma_step = sigma_step * 0.995
        percentage_repr = percentage_repr * 1.01


find_gaussian_parameters(21820704, 503723963299, distribution_percentage_null=5)

0.6121311878966779
Total target 1.06453822891 not 0 target: 1.03351385913 mu=22723.014328775633 sigma=11362.332536653179 th=0.612131187897
Total target 1.03035048374 not 0 target: 1.02155682552 mu=22549.245620867325 sigma=11307.954516316233 th=0.612131187897
Total target 1.03434759828 not 0 target: 1.0291877932 mu=22285.563459143945 sigma=11142.39753860256 th=0.612131187897
Total target 1.02075438766 not 0 target: 1.03078507862 mu=22142.466064594988 sigma=11128.224484249376 th=0.612131187897
Total target 1.01235014023 not 0 target: 1.02599618626 mu=22080.190499220487 sigma=11065.082860432603 th=0.612131187897
Total target 1.01536529462 not 0 target: 1.02656434381 mu=21866.560491121967 sigma=11012.003560988995 th=0.612131187897
Total target 1.00561803319 not 0 target: 1.02879072811 mu=21832.577188361447 sigma=10982.971178238968 th=0.612131187897
Total target 1.00423170196 not 0 target: 1.02963279745 mu=21824.726688718758 sigma=10966.481547795713 th=0.612131187897
Total target 0.992786645463 not 0 target: 1.02087734166 mu=21729.816188490382 sigma=10975.261267000562 th=0.612131187897
Total target 0.992617822392 not 0 target: 1.02359177901 mu=21523.543535913013 sigma=11001.92191981421 th=0.612131187897
Total target 0.983525079136 not 0 target: 1.026318339 mu=21364.22373578065 sigma=11017.351739305082 th=0.612131187897
Total target 0.978022031502 not 0 target: 1.02507042718 mu=21098.87886325373 sigma=11055.716889535319 th=0.612131187897
Total target 0.963453149167 not 0 target: 1.01597863645 mu=21012.51924437974 sigma=11058.792459984117 th=0.612131187897
Total target 0.958332376467 not 0 target: 1.02118077939 mu=20883.17736670011 sigma=11184.641363315006 th=0.612131187897
Total target 0.962192860599 not 0 target: 1.02171501989 mu=20698.64852328634 sigma=11251.862298318167 th=0.612131187897
Total target 0.945424777241 not 0 target: 1.01483589385 mu=20670.19631031203 sigma=11548.146853099819 th=0.612131187897
Total target 0.951373204795 not 0 target: 1.01158847715 mu=20580.503744076184 sigma=11744.492135485369 th=0.612131187897
Total target 0.943070225738 not 0 target: 1.00993112055 mu=20493.728122585828 sigma=11909.28144568593 th=0.612131187897
Total target 0.937178625908 not 0 target: 0.999433733118 mu=20499.12970109762 sigma=12233.719244400267 th=0.612131187897
Total target 0.936314788269 not 0 target: 0.994166260327 mu=20515.609049865983 sigma=12407.407295769639 th=0.612131187897
Total target 0.94893511785 not 0 target: 1.00047301869 mu=20512.866991920557 sigma=12441.187030561221 th=0.612131187897
Total target 0.947574807642 not 0 target: 1.00042170167 mu=20510.285046298486 sigma=12503.83713864545 th=0.612131187897
Total target 0.946347409688 not 0 target: 0.996112882937 mu=20523.866166273194 sigma=12746.284750353456 th=0.612131187897
Total target 0.95169926435 not 0 target: 0.994634692108 mu=20550.728636387154 sigma=12946.555513973364 th=0.612131187897
Total target 0.952118263118 not 0 target: 0.991897067751 mu=20572.785081709913 sigma=13029.289360065062 th=0.612131187897
Total target 0.946783183513 not 0 target: 0.988401445011 mu=20657.639600866463 sigma=13174.271276281725 th=0.612131187897
Total target 0.963216281887 not 0 target: 0.996518301519 mu=20680.82226398602 sigma=13193.334769321393 th=0.612131187897
Total target 0.959054638669 not 0 target: 0.988823713759 mu=20712.17569236518 sigma=13353.335508443019 th=0.612131187897
Total target 0.953606217411 not 0 target: 0.983750443043 mu=20854.246413430104 sigma=13384.62345485228 th=0.612131187897
Total target 0.950916032527 not 0 target: 0.976791950813 mu=21036.960486981254 sigma=13476.05009549925 th=0.612131187897
Total target 0.972848621696 not 0 target: 0.989663320122 mu=21102.576819765225 sigma=13533.035950688118 th=0.612131187897
Total target 0.976634216499 not 0 target: 0.983837052247 mu=21241.594194386173 sigma=13550.72842934431 th=0.612131187897
Total target 0.976992535596 not 0 target: 0.987995084322 mu=21268.145355851066 sigma=13651.841836970569 th=0.612131187897
Total target 0.990223841482 not 0 target: 0.992865358523 mu=21307.4976721667 sigma=13698.796690262261 th=0.612131187897
Total target 0.979149186807 not 0 target: 0.981401300055 mu=21396.067410209896 sigma=13741.678471757425 th=0.612131187897
Total target 0.98536670974 not 0 target: 0.98698631818 mu=21480.61565131429 sigma=13775.715064851112 th=0.612131187897
Total target 0.990243784546 not 0 target: 0.985349887216 mu=21578.830233284265 sigma=13810.697062313197 th=0.612131187897
Total target 1.00175361879 not 0 target: 0.985107915308 mu=21580.46597072441 sigma=13802.642729304223 th=0.612131187897
Total target 1.00691521383 not 0 target: 0.99265534892 mu=21649.60831588902 sigma=13782.398787167967 th=0.612131187897
Total target 0.997616067621 not 0 target: 0.989324543165 mu=21726.7557568011 sigma=13784.676299409071 th=0.612131187897
Total target 1.00797681376 not 0 target: 0.99094883247 mu=21772.41011664067 sigma=13757.451864019804 th=0.612131187897
Total target 1.00604888429 not 0 target: 0.993906812269 mu=21817.301313120654 sigma=13741.889842761746 th=0.612131187897
Total target 1.01454289378 not 0 target: 0.996799598026 mu=21822.1896515165 sigma=13710.442652048945 th=0.612131187897
Total target 1.00496917186 not 0 target: 0.988334433833 mu=21903.693663067344 sigma=13696.5762752476 th=0.612131187897
Total target 1.00713245504 not 0 target: 0.990292004994 mu=21937.11267410913 sigma=13693.220592904936 th=0.612131187897
Total target 1.0116015696 not 0 target: 0.993871124221 mu=21946.84498065995 sigma=13648.114173127271 th=0.612131187897
Total target 1.0180946245 not 0 target: 0.996267408598 mu=21980.27836606835 sigma=13575.452547136407 th=0.612131187897
Total target 1.02111590366 not 0 target: 0.99714075369 mu=21986.741457595923 sigma=13483.84002027509 th=0.612131187897
Total target 1.00846619693 not 0 target: 0.994857632315 mu=22006.065007567337 sigma=13455.370926505753 th=0.612131187897
Total target 1.01233002648 not 0 target: 0.999670516748 mu=22008.78508319073 sigma=13412.344243974478 th=0.612131187897
Total target 1.0118796015 not 0 target: 0.993311672423 mu=22023.418863614457 sigma=13392.602925697473 th=0.612131187897
Total target 1.0140060378 not 0 target: 0.995643798623 mu=22060.36119381182 sigma=13340.096199880189 th=0.612131187897
Total target 1.01721795726 not 0 target: 1.00004497992 mu=22060.14970035683 sigma=13287.903876788148 th=0.612131187897
Total target 1.01738785835 not 0 target: 1.00001522963 mu=22060.065394177127 sigma=13260.208612922195 th=0.612131187897
Total target 1.01392238078 not 0 target: 0.998281358443 mu=22060.276219620468 sigma=13216.049326311982 th=0.612131187897
Total target 1.00821809269 not 0 target: 0.992957587122 mu=22096.775656982012 sigma=13190.613164870345 th=0.612131187897
Total target 1.01831346287 not 0 target: 1.00522907847 mu=22086.38630507734 sigma=13126.44737014231 th=0.612131187897
Total target 1.01326549722 not 0 target: 1.00042241419 mu=22083.913230460654 sigma=13084.37909588117 th=0.612131187897
Total target 1.01858765327 not 0 target: 1.00340950869 mu=22071.446946085944 sigma=13036.542510333498 th=0.612131187897
Total target 1.00957535775 not 0 target: 0.999716940868 mu=22073.78688165176 sigma=13002.950071002475 th=0.612131187897
Total target 1.01552290329 not 0 target: 1.00397055314 mu=22069.34867504215 sigma=12997.282594983892 th=0.612131187897
Total target 1.01401819482 not 0 target: 1.00494487712 mu=22065.208142444942 sigma=12992.849404591143 th=0.612131187897
Total target 1.01360198141 not 0 target: 1.00085569426 mu=22058.729503660517 sigma=12966.712933720473 th=0.612131187897
Total target 1.00924146435 not 0 target: 0.999785003217 mu=22059.99794145417 sigma=12934.27769014685 th=0.612131187897
Total target 1.00611228589 not 0 target: 1.00152216443 mu=22054.451772218938 sigma=12927.27608563219 th=0.612131187897
Total target 1.01512545579 not 0 target: 1.00063074141 mu=22049.561523875767 sigma=12874.59519703068 th=0.612131187897
Total target 1.01209699339 not 0 target: 1.001132163 mu=22042.012675987186 sigma=12844.267905924617 th=0.612131187897
Total target 1.01319418236 not 0 target: 1.00889006858 mu=21979.263996742426 sigma=12817.66286265661 th=0.612131187897
Total target 1.01713812524 not 0 target: 1.01243592389 mu=21926.602401877884 sigma=12807.288146763758 th=0.612131187897
Total target 1.01278904098 not 0 target: 1.00845487747 mu=21862.00259050814 sigma=12793.24327214035 th=0.612131187897
Total target 0.998180082759 not 0 target: 0.999155279438 mu=21866.37904374735 sigma=12799.479743908485 th=0.612131187897
Total target 1.00528514437 not 0 target: 1.00144981167 mu=21859.23921769412 sigma=12792.424113899418 th=0.612131187897
Total target 1.00977882443 not 0 target: 1.00449643345 mu=21828.72955063519 sigma=12779.899926544007 th=0.612131187897
Total target 0.999185137199 not 0 target: 0.999183443559 mu=21831.65573758072 sigma=12782.807257027978 th=0.612131187897
Total target 1.01030401029 not 0 target: 1.0092830775 mu=21779.686144062696 sigma=12777.9372133068 th=0.612131187897
Total target 1.00165210959 not 0 target: 1.00287536555 mu=21771.143760715346 sigma=12774.913721585059 th=0.612131187897
Total target 0.995566258839 not 0 target: 0.998969627723 mu=21774.763794039744 sigma=12788.63792801713 th=0.612131187897
Total target 0.998548353517 not 0 target: 1.00245541973 mu=21767.90101322006 sigma=12789.197453430204 th=0.612131187897
Total target 0.997593421655 not 0 target: 0.998076628996 mu=21775.45041799383 sigma=12790.88521462059 th=0.612131187897
Total target 0.994855296853 not 0 target: 0.99999221409 mu=21775.473115175348 sigma=12795.08926706104 th=0.612131187897
Total target 1.00394218891 not 0 target: 1.00328121672 mu=21769.036377938475 sigma=12792.930451831031 th=0.612131187897
Total target 0.999682832486 not 0 target: 1.002538391 mu=21760.182662521707 sigma=12792.939794202193 th=0.612131187897
Total target 0.995401337056 not 0 target: 0.997699157928 mu=21763.95773440684 sigma=12804.967434640048 th=0.612131187897
Total target 1.00016189724 not 0 target: 1.00214795401 mu=21758.979684665126 sigma=12804.646458600646 th=0.612131187897
Total target 1.00051823152 not 0 target: 1.00319237075 mu=21753.473111220184 sigma=12804.047192107775 th=0.612131187897
Total target 0.994549050906 not 0 target: 0.997902001087 mu=21756.813199236087 sigma=12821.45082107874 th=0.612131187897
Total target 0.998742381805 not 0 target: 1.00091469726 mu=21756.17140308898 sigma=12824.79033787123 th=0.612131187897
Total target 1.00446339949 not 0 target: 1.00589102809 mu=21718.44843661444 sigma=12818.637033099192 th=0.612131187897
Total target 0.998417130005 not 0 target: 1.00015103252 mu=21717.969816302902 sigma=12819.312506174612 th=0.612131187897
Total target 1.0006145714 not 0 target: 1.00232751512 mu=21702.420721811 sigma=12819.28220207382 th=0.612131187897
Total target 0.996536491742 not 0 target: 1.00048869114 mu=21701.072186911268 sigma=12823.526580774762 th=0.612131187897
Total target 0.998744339591 not 0 target: 1.00305386288 mu=21695.916339779007 sigma=12827.742718559033 th=0.612131187897
Total target 0.995832294319 not 0 target: 1.00088341381 mu=21694.55545536355 sigma=12835.466491884787 th=0.612131187897
Total target 0.999311513671 not 0 target: 1.00089195152 mu=21691.729963146365 sigma=12837.84997942709 th=0.612131187897
Total target 0.999352211254 not 0 target: 1.0041475038 mu=21681.595153596165 sigma=12838.749705398155 th=0.612131187897
Total target 0.995680993475 not 0 target: 1.00266396856 mu=21670.308272599625 sigma=12840.19965572894 th=0.612131187897
Total target 1.0012784086 not 0 target: 1.00768777362 mu=21652.20444280742 sigma=12837.044991480781 th=0.612131187897
Total target 0.995096661549 not 0 target: 1.00200497398 mu=21646.161038992526 sigma=12846.911851420598 th=0.612131187897
Total target 0.994127486513 not 0 target: 1.00041487398 mu=21643.538623213983 sigma=12847.767968614411 th=0.612131187897
Total target 1.00165889557 not 0 target: 1.00307040259 mu=21643.195618469726 sigma=12843.171320838064 th=0.612131187897

### Gestion des situations familiales
Idée : obtenir le nombre moyen d'enfant = 1.7

In [5]:
# Statistiques by familly, approximated to match the declaration d'impots
# Voir la distribution réelle mais bloquer par nbenf > 4 répartition en 3 plus calage car moyenne au-dessus de la réalité
CHILDREN_PER_FAMILY = [(1, 46), (2, 38.5), (3, 12.5), (4, 2), (5, 1)]
TOTAL_CHILDREN = float(sum(w*c for c, w in CHILDREN_PER_FAMILY))
print('TOTAL_CHILDREN = ', float(sum(w*c for c, w in CHILDREN_PER_FAMILY)))
# Familles avec enfants a charge de moins de 18 ans
FAMILLES = 9321480

('TOTAL_CHILDREN = ', 173.5)

In [ ]:
def weighted_choice(choices):
   total = sum(w for c, w in choices)
   r = random.uniform(0, total)
   upto = 0
   for c, w in choices:
      if upto + w >= r:
         return c
      upto += w
   assert False, "Shouldn't get here"


    # Age is random between 18 and 88
    cerfa['0DA'] = int(random.random() * 70 + 18)

    # Drawing the situation
    # situation = weighted_choice(POSSIBLE_SITUATIONS)
    # cerfa[situation] = 1

    ## We only give children to married or pacces. This is an approximation
    # enfants = 0
    # if situation == 'M' or situation == 'O':
    #     if random.random() < (FAMILLES / float(POSSIBLE_SITUATIONS[0][1] + POSSIBLE_SITUATIONS[2][1])):
    #         enfants = weighted_choice(CHILDREN_PER_FAMILY)
    #
    # if enfants > 0:
    #     cerfa['F'] = enfants

    # Distribution that has a cool shape and required properties 5500, 26500

In [2]:
situations = [['M', 12002841], ['D', 5510809], ['O', 983754], ['C', 14934477], ['V', 3997578]]
nbr_foyer = int(sum(w for c, w in situations))
print"Nombre de déclarations :",nbr_foyer

#to do : pour l'instant références implémentées en dur

pourcent_situations = situations # connaitre la proportion pour distribuer
for x in pourcent_situations :
    x[1] = float(x[1])/nbr_foyer
pourcent_situations

openfisca_entry_variables = ['1AJ', '1AS', '1AP', '1AO'] # à compléter au fur et à mesure
index = np.arange(nbr_foyer/1000)
population = pd.DataFrame(columns=openfisca_entry_variables, index = index)
len(population)
population.head()

Nombre de déclarations : 37429459