In [2]:
import numpy as np
import pandas as pd

### Les tables concernant l'âge et le sexe

**Output** : pop_age_sexe_2016.csv

**Input** :
Table générée à partir de pop-1janvier-fe.xls (https://www.insee.fr/fr/statistiques/1892086) 

- Source : Insee, estimations de population (résultats provisoires arrêtés à fin 2015).
- Champ : France y compris Mayotte.

*Warning* : âge = 100 correspond à 100 et plus

In [2]:
pd.read_csv("data/demographie/pop_age_sexe_2016.csv").head()

   age   femme   homme   total
0    0  374179  391371  765550
1    1  385442  403204  788646
2    2  386831  405502  792333
3    3  391853  412383  804236
4    4  399632  416626  816258

### Les tables concernant le statut d'actif.ve

**Output**: activite_2015.csv

**Input** : Table générée à partir de activite.xls, https://www.insee.fr/fr/statistiques/2045153?sommaire=2045174


- Champ : France métropolitaine, population des ménages, actifs de 15 ans ou plus.
- Source : Insee, enquête Emploi.
- 2015

In [4]:
pd.read_csv("data/travail/activite_2015.csv")

       classe_age  femme  homme  total
0        0-14 ans      0      0      0
1       15-24 ans   1228   1475   2703
2       25-49 ans   8563   9274  17837
3       50-64 ans   3879   4003   7882
4  65 ans ou plus    126    179    305

### Les tables concernant le statut d'actif.ve occupée

Taux de chômage trimestriel au sens du BIT en France (hors Mayotte)

**Output ** : chomage.csv

**Input **: Tableau généré à partir de sl_chomage.xls, https://www.insee.fr/fr/statistiques/2045144?sommaire=2045174


- Données CVS en moyenne trimestrielle, en %
- Champ : France (hors Mayotte), population des ménages, personnes de 15 ans ou plus
- Source : Insee, enquête Emploi, 2016(T1)

In [5]:
pd.read_csv("data/travail/chomage.csv")

  classe_age_chomage  femme  homme
0              15-24   23.4   25.8
1              25-49    9.5    9.7
2                >49    6.4    6.9

### Tables concernant les pensions de retraite

**Output** : retraite_2012.csv

**Input** : Table générée à partir de NATCCF04564.xls.

Montant moyen mensuel de la retraite globale   
- Champ : retraités de droit direct, âgés de 65 ans ou plus,
   nés en France ou à l'étranger, résidents en France ou à l'étranger.
   Les retraités ne percevant qu'une pension de réversion sont exclus.
- Source : Drees, échantillon interrégimes de retraités 2012.

In [6]:
pd.read_csv("data/travail/retraite_2012.csv")

  classe_age_retraite  femme  homme
0         65 à 69 ans   1259   1797
1         70 à 74 ans   1212   1713
2         75 à 79 ans   1173   1626
3         80 à 84 ans   1225   1623
4      85 ans et plus   1330   1687

### Tables concernant le statut d'étudiant

**Output** : etudes.csv

**Input** : Table générée à partir de NATTEF07116.xls

- Champ : France (hors Mayotte), enseignement public et privé, y c. scolarisation en apprentissage.
- Source : Depp.
- 2013

In [7]:
pd.read_csv("data/demographie/etudes.csv")

       age  proba_etudes
0   15 ans          97.8
1   16 ans          94.2
2   17 ans          90.3
3   18 ans          77.4
4   19 ans          64.1
5   20 ans          53.3
6   21 ans          43.0
7   22 ans          35.8
8   23 ans          26.3
9   24 ans          17.4
10  25 ans          11.1

### Tables concernant le handicap

**Output**: handicap_pop.csv

**Input**: Table générée à partir de handicap.ods

- Champ : population âgée de 15 à 64 ans en France métropolitaine vivant en ménage ordinaire (collectivités exclues).
- Source : Dares, enquête complémentaire à l'enquête Emploi 2007.
- Personnes ayant une reconnaissance administrative du handicap.
- http://www.insee.fr/fr/themes/document.asp?ref_id=T11F037

In [2]:
 pd.read_csv("data/demographie/handicap_pop.csv")

  classe_age_handicap   homme   femme
0         15 à 24 ans       3       4
1         25 à 39 ans      20      17
2         40 à 49 ans      27      30
3         50 à 64 ans      50      49
4           Effectifs  998000  815000

### Tables concernant le satut marital

**Output** : statut_marital_femme.csv et statut_marital_homme.csv

**Input** : Tables générées à partir de irsocsd2014_fe_t6.xls

- N.B. La répartition par état matrimonial est provisoire ; elle n'est pas disponible à partir de 90 ans.
- Champ : France inclus Mayotte
- Source : Insee, estimations de population
- 1er janvier 2015

In [5]:
reference_marital = dict()
for sexe in ['homme', 'femme']:
    reference_marital[sexe] = pd.read_csv("data/menages/statut_marital_{0}.csv".format(sexe))
reference_marital['femme'].head()

   age   total   celib  marrie  veuf  divorce
0    0  384347  384347       0     0        0
1    1  384661  384661       0     0        0
2    2  389099  389099       0     0        0
3    3  396217  396217       0     0        0
4    4  405870  405870       0     0        0

In [6]:
reference_marital['homme'].head()

   age   total   celib  marrie  veuf  divorce
0    0  401382  401382       0     0        0
1    1  403797  403797       0     0        0
2    2  409038  409038       0     0        0
3    3  412492  412492       0     0        0
4    4  425656  425656       0     0        0

### Tables concernant le fait d'avoir un enfant

**Output** : type_famille.csv

**Input**: AMFd3.xls pour la structure des familles avec enfants en 2012
- Champ : France, population des ménages, familles avec au moins un enfant.
- Source : Insee, RP1990 sondage au 1/4, RP1999 à RP2012 exploitations complémentaires.


irsocsd2012_t6_fe.xls pour récupérer les effectifs de référence
- Champ : France, territoire au 31 décembre 2010
- Source : Insee, estimations de population
- 2012

In [7]:
pd.read_csv('data/menages/enfants/type_famille.csv')

     type_fam  effectif  effectif_ref
0       Total   10349.5      53141330
1     Couples    7681.8      24438372
2  femme solo    2218.8      15542786
3  homme solo     448.8      13160172

### Tables concernant le nombre d'enfants

**Output**: nbr_enfant.csv

**Input** :  Table générée à partir de rp2013_td_fam1.xls 

- Source : Insee	 
- RP2013 exploitation complémentaire.

In [3]:
pd.read_csv('data/menages/enfants/nbr_enfant.csv')

     type_fam        1        2        3       4
0     Couples  2790543  2938894  1069424  336473
1  homme solo   235324   110110    26948    7218
2  femme solo  1001638   580945   186680   72717